/* .career-container{
    float: right;
}
.education-container{
    display: flex;
} */
.profile-fields{
    display: flex;
    width: 100%;
    justify-content: center;
    
}
    .pf-center{
        justify-content: center;
        justify-items: center;
        transition: 4s;
        transition-duration: 2s;
        width: 100%;
        /* max-width: 90%; */

    }
        
        .info-container{
            color: white;
            /* height: 65px; */
            width: 100%;
            /* max-width: 90%; */
            /* max-width: ; */
            justify-content: center;
            box-sizing: border-box;
            padding: 0px;

        }
        
        .info-container:hover .cards{
            
            
            /* width: 50%; */
            /* justify-self: center; */
            /* transition: justify-content 4s ; */
            /* transition: 0.6s ease; */
            /* transition-timing-function:ease-in; */
        }
            .cards{
                /* margin: 10px;
                padding: 100px; */
                background-color: rgba(78, 79, 80, 0.193);
                /* justify-self:center; */
                /* background-image: -webkit-linear-gradient(blueviolet,rgb(170, 0, 255));
                background-image: -webkit-linear-gradient(blueviolet,rgb(0, 219, 33)); */
                background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.205));
                /* height: 550px; */
                height: 500px;
                height: 100%;
                /* min-height: 100px; */
                width: 100%;
                padding: 1px;
                top: 20px;
                font-size: large;
            }
                .article{
                    margin: 20px;
                }
                .content-headings{
                    margin-top: 2px;
                    padding-top: 15px;
                    border-radius: 15px;
                    text-align: center;
                    color: aqua;
                    font-size:xx-large;
                    background-color: transparent;
                }
                .type a{
                    color: white;
                    text-decoration: none;
                }
                /* .education-article{
                    opacity: 0;
                    text-align: center;
                    height: 0px;
                    font-size: 0em;
                }
                .specifications-article{
                    opacity: 0;
                    text-align: center;
                    height: 0px;
                    font-size: 0em;
                }
                .career-article{
                    opacity: 0;
                    text-align: center;
                    height: 0px;
                    font-size: 0em;
                }
                .article{
                    font-size: 1em;
                    opacity: 1;
                    z-index: 1000;
                 } */

.flx{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.project-container{
    /* float: left; */
}
.type{
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.101);
    background-color: rgba(255, 255, 255, 0.056);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.316);
    border-radius: 20px;
    /* min-height: 20vh; */
    /* height: 45vh; */
    height: 100%;

    /* max-height: 50vh; */
    /* min-height: 20px; */
    width: 92%;
    max-width: 92%;
    justify-self: center;
    text-align: center;
    /* height: 140px; */
}
.cat{
    /* height: 100%; */
}
