body{
    background: rgb(46, 46, 46);
    margin:0;
    color: azure;
    max-width: 100vw;
    height: 100%;
    box-sizing: border-box;
}
hr{
    width: 150px;
}
.hrfull{
    width: 90%;
    max-width: 1100px;
}
.flx{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.largest-font{
    font-size: 2.8em;
    font-weight: bold;
}
.big{
    font-size: 2.2em;
    font-weight: bold;
}
.medium{
    font-size: 1.7em;
    font-weight: bold;
}
.nonhighlight{
    font-size: 1.3em
}

/* ^^------------------------------------- basic components */


.main-div{
    margin: 1.5%;
    overflow: hidden;
    /* width: max-content; */
}
    .top{
        display: flex;
        justify-content: space-between;
        overflow: hidden;
    }
        .my-company{
            /* background-color: #fff; */
            justify-self: left;
        }
            .my-company a{
                color:azure;
                text-decoration: none;
            }
            .my-company img{
                width: 25px;
                height: auto;
            }
        /* ^^^------------------------------ logo */
        .contact-container{
            /* gap: 10px; */
            /* background-color: #fff; */
            display: flex;
            width: 200px;
        }
            .contact-container img{
                height: 20px;
                width: 20px;
            }
        /* ^^^------------------------------ contact */

    /* ^^^------------------------------ top */

    .intro-div{
        display: flex;
        height: auto;
        /* width: 90%; */
        gap: 3px;
        justify-content: space-evenly;
    }
        .para{
            /* background-color: rgba(240, 248, 255, 0.342); */
            width: 70%;
            max-width: 400px;
            height: max-content;
            /* margin: 0.01px;
            padding: 0.01px; */
        }
        /* .word {
            opacity: 0;
            display: inline-block;
            animation: fadeIn 0.5s forwards ease-in-out;
        } */

            .about-para{
                /* align-content: flex-end; */
                /* text-align:center; */
                /* background-color: rgba(240, 248, 255, 0.342); */
                align-items: center;
                display:flex;
                width: auto;
                height: auto;
                align-items: center;
                /* height: 99%; */
                margin: 2px;
                padding: 2px;
            }
            .about-para:hover .text{
                opacity: 0; /* Initially hidden */
                /* font-size: 1em; */
                animation: fadeIn 2s forwards; /* Animation for fade in */
                
            }@keyframes fadeIn {
                from { opacity: 0; transform: translateY(10px); }
                to { opacity: 1; transform: translateY(0); }
            }
            /* .gg:hover .text{
                opacity: 0;
                color: aqua;
            } */
            .text{
                opacity: 0; /* Initially hidden */
                /* font-size: 1em; */
                animation: fadeIn 2s forwards; /* Animation for fade in */
            }@keyframes fadeIn {
                from { opacity: 0; transform: translateY(10px); }
                to { opacity: 1; transform: translateY(0); }
            }
            .para:hover .text{
                /* Initially hidden */
                /* font-size: 1em; */
                opacity: 1;
                /* color: aqua; */
                animation: fadOut 2s forwards;
                /* animation: fadeIn 2s forwards; Animation for fade in */
            }@keyframes fadeOut {
                from {opacity: 1; transform: translateY(0);}
                to {opacity: 0; transform: translateY(10px);}
            }
        .ptrt{
            display: inline;
        }
        .name{
            /* top: 70%; */
            width: 70px;
            border-left-style: solid;
            /* border-right-style: solid; */
            text-align: center;
        }
        .ptrt img{
            height: 100px;
            width: 100px;
            /* max-width: 100%; */
        }
    /* ^^-------------------------------- Intro Div */


    .catagory-div{
        display: flex;
        justify-content: center;
    }
        .cat{
            -webkit-user-select: none; /* Safari /
            -ms-user-select: none; / IE 10 and IE 11 /
            user-select: none; / Standard syntax */
        }
        .catagory-div ul {
            list-style: none;
            padding: 0;
            display: flex;
            max-width: 95%;
            height: 100%;
            gap: 10px;
        }
        .catagory-div ul li {
            display: flex;
            justify-content: center;
            justify-items: center;
            align-content: center;
            align-items: center;
            padding: 0;
            text-align: center;
            width: 120px;
            height: 100%;
            /* border-bottom-width: 1px; */
        }   .catagory-div ul li:hover {
                /* border-color: azure; */
                /* border: 1px; */
                border-radius: 3px;
                background: #575757;
                background: #5757572a;
                border-bottom-style: solid;
                border-bottom-width: 1px;
            }
            .catagory-div ul li:active {
                /* border-color: azure; */
                /* border: 1px; */
                border-radius: 3px;
                background: #575757;
                background: #5757572a;
                border-bottom-style: solid;
                border-bottom-width: 1px;
            }
            .catagory-div ul li a {
                justify-content: center;
                justify-items: center;
                align-content: center;
                align-items: center;
                height: 35px;
                padding: 0px;
                color: white;
                text-decoration: none;
                display: block;

            }
        .cat-sep{
            border-left: 5px solid;
            height: 5px;
            align-self: center;

        }

    /* ^^-------------------------------- Catagory Navigation */
    .contact-form-div{
        display: flex;
        justify-content: center;
    }
        .contact-form{
            display: flex;
            /* display: block; */
            justify-content: center;
            align-items: center;
            border-radius: 15px;
            border-style: solid ;
            width: 340px;
            height: 400px;
            background-color: #ffffff12;
            background-image:linear-gradient(rgba(61, 222, 25, 0),rgba(255, 255, 255, 0.318));

        }
            .actual-form{
                justify-content: center;
                /* background-color: aqua; */
                width: 300px;
                height: 250px;
                display: inline-block;
            }
                .text-size2rem{
                    font-size: 1.5rem;
                }
                .asdf{

                }
                    .message-data-inputs-div{
                        min-height: 25px;
                        margin: 2px;
                        display: flex;
                        justify-self: space-between;
                        border-radius: 5px;
                        /* background-color: rgba(255, 255, 255, 0.221); */

                    }
                    .message-data-inputs-div input{
                        /* background-color: transparent; */
                        justify-self: end;
                        border: none;
                        outline: none;
                        background: rgba(245, 245, 245, 0.19);
                        /* background-image: none; */

                    }
                    .message-data-inputs-div input:hover{
                        background: rgba(245, 245, 245, 0.886);

                    }
                    .txtarea{
                        justify-self: end;
                        border: none;
                        outline: none;
                        background: rgba(245, 245, 245, 0.19);
                        /* background-image: none; */

                    }
                    .txtarea:hover{
                        background-color: rgba(245, 245, 245, 0.886);

                    }

/* ^^------------------------------------ Body */


.footer{
    height: 100px;
    width: 100%;
    /* background-color: rgba(208, 208, 208, 0.756); */
    background-image:linear-gradient(rgba(61, 222, 25, 0),rgba(255, 255, 255, 0.318));
    color: rgb(133, 131, 131);
    color: white;
}
    .footer-container{
        display: block;
        justify-self: center;
        align-self: center;
        text-align: center;
        font-size: 0.8rem;
    }

